# Node running mode.
# Only supports `development` and `production`, default is `development`.
#
# `development` Development mode, will continue to output Debug logs to the console.
# ``production` Production mode, continuously output only necessary logs to the console.

NODE_ENV=development

# Port when the program is running, default port is 3000.
# ⚠Tips: Once the port is set, once the program runs, it will be occupied by
# the program process. Please set a port that is not used by other programs,
# generally 80 or the range of 1000 to 9000.

APP_PORT=3000

# Application GraphQL endpoint path, default is `/` and `/graphql`.

APP_ENDPOINT=/

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables
#
# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/fans?schema=public"

# Tencent Cloud Security ID and KEY, used for Tencent Cloud SDK initialization certificate.
# See the CAM console 👉 https://console.cloud.tencent.com/cam/capi

TENCENT_CLOUD_SECRET_ID=
TENCENT_CLOUD_SECRET_KEY=

# Tencent Cloud COS options.
# `TENCENT_CLOUD_COS_BUCKET` set COS bucket full name.
# `TENCENT_CLOUD_COS_REGION` set COS bucket region.
# See the COS documentation https://cloud.tencent.com/document/product/436

TENCENT_CLOUD_COS_BUCKET=fans-1301714186
TENCENT_CLOUD_COS_REGION=ap-chengdu

# Tencent Cloud SMS application ID and sign.
#
# `TENCENT_CLOUD_SMS_APP_ID` SMS will be sent by the set application after setting.
# `TENCENT_CLOUD_SMS_SIGN` Must be set to send SMS from China.
# `TENCENT_CLOUD_SMS_EXTEND_CODE` SMS extension code, don’t set if no.
# `TENCENT_CLOUD_SMS_SENDER_ID` Sender ID must be set to send SMS from countries or regions other than China, including sending SMS to Hong Kong, Macau and Taiwan.
#
# See https://console.cloud.tencent.com/smsv2

TENCENT_CLOUD_SMS_APP_ID=
TENCENT_CLOUD_SMS_SIGN=
TENCENT_CLOUD_SMS_EXTEND_CODE=
TENCENT_CLOUD_SMS_SENDER_ID=

# Tencent Cloud Authorization SMS options.
#
# `TENCENT_CLOUD_SMS_AUTHORIZATION_EXPIRED_IN` How long does the security code expire, in seconds. The default is 300 seconds.
# `TENCENT_CLOUD_SMS_AUTHORIZATION_{CHINA|OTHER}_TEMPLATE_ID` Template ID sent by SMS
# `TENCENT_CLOUD_SMS_AUTHORIZATION_{CHINA|OTHER}_VERIABLES` Please set the variable replacement order of the SMS template from left to right according to the variables of your template content.
# Currently, the variables supported by the system are #code# and #expired#, and other variables are not currently supported. If there are other variables that need to be replaced, they need to be set to specific values. Variables are separated by English half-width commas (,).
#
# #code# SMS verification security code.
# #expired# Security code validity period, in minutes.

TENCENT_CLOUD_SMS_AUTHORIZATION_EXPIRED_IN=300
TENCENT_CLOUD_SMS_AUTHORIZATION_CHINA_TEMPLATE_ID=
TENCENT_CLOUD_SMS_AUTHORIZATION_CHINA_VERIABLES="#code#,#expired#"
TENCENT_CLOUD_SMS_AUTHORIZATION_OTHER_TEMPLATE_ID=
TENCENT_CLOUD_SMS_AUTHORIZATION_OTHER_VERIABLES="#code#,#expired#"
